.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.App-header {
  z-index: 2;
  text-align: center;
  position: relative;
}

.background-spline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Put the Spline scene behind all other content */
  pointer-events: none; /* Ensure the background doesn't interfere with UI interactions */
}

main {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.doto-styles {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}
